*  @openc/tech-codeowners @openc/devops

# DevOps
.github/**  @openc/devops
infra/**    @openc/devops
deploy/**   @openc/devops
charts/**   @openc/devops
CODEOWNERS                  @openc/devops
renovate.json              @openc/devops
.checkov.yaml              @openc/devops
.pre-commit-config.yaml    @openc/devops
